.modal {
    display: none;  
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modalContent {
    background-color:  rgba(37, 40, 56);  
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 27%;
    border-radius: 15px;
    font-weight: 400;
    font-size: 0.9em;
    color: #fff;
    margin-left: 25%;
    margin-top: 10%;
}
.imgItemMenu {
    width: 100px;
    height: 100px;
    object-fit: cover;    
    margin: 4px auto 0 auto;
    position: relative;
    border-radius: 15px;
}

.close{
    width: 70px;
    height: 20px;
    margin: 30px 0% 30px auto;
    background-color: #FB5607;
    color: white;
    font-size: 15px;
    font-weight: 300;
    border-radius: 20px; 
    border: .5px solid transparent; 
    text-align: center;
    box-shadow: transparent; 
    display: block;
}

.letter{
    font-size: 20px;
color: rgb(201, 196, 196) ;
    box-shadow: 0px 4px 4px white, 0px 4px 4px white);
}