.container{
    background-color: transparent;
    display: flex;
    height: 100%;
    /* justify-content: space-between; */
}
.logo{
    width: 100px;
    height: 100px;
    margin: 20px auto auto auto;
}
.navBar{
    background-color: #FCBF49;
    width: 15%;
    padding-left: 5px;
    flex: 2 1 auto;
    /* align-items: center; */
    display: flex;
    flex-flow: row;
    /* align-content: center; */
}
.allmenu{
  display: flex;
  flex-flow: column;
  width: 60%;
}

.barra{
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}


.sectionMenu{
    margin: 30px 30px 30px 30px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    align-items: center;    
    
}

.imgItemMenu{
    background-color: #F0EFEB;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid gray 2px;    
}

.imgItemPostres{
    background-color: #F0EFEB;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: solid gray 2px;    
}


.box{
    display: grid;
    /* perspective: 700px;
    padding: 5px; */
}
.box2{
    display: grid;
    /* perspective: 700px;
    padding: 5px; */
}

.card{
    align-items: center;
    width: 150px;
    height: 200px;
    /* position: relative; */
    display: grid;
    /* grid-template: 7.fr / .7fr; */
}

.sectionOrder{
    background-color: #616161;
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
}
h3{
    margin: 5px;
    font-size: 15px;}




