.container{
    background-color: transparent;
    display: flex;
    height: 100%;
}
.logo{
    width: 100px;
    height: 100px;
    margin: auto;
}
.navBar{
    background-color: #FCBF49;
    width: auto;
    padding-left: 5px;
    flex: 2 1 auto;
    /* align-items: center; */
    display: flex;
    flex-flow: row;
    /* align-content: center; */
}
.sectionMenu{
    /* background-color: #F0EFEB;
    width: auto;  
    flex: 3 3 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}

.imgItemMenu{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: solid gray 2px;
    border-radius: 5px;
}

.box{
    display: grid;
    perspective: 700px;
    padding: 10px;
}

.card{
    align-items: center;
    width: 300px;
    height: 350px;
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
}

.sectionOrder{
    background-color: #616161;
    width: auto;
}