.container{
    background-color: transparent;
    display: flex;
    height: 100%;
}
.logo{
    width: 100px;
    height: auto;
    margin: 20px auto auto auto;
    padding: 12px;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.navBar{
    background-color: #FCBF49;
    width: 15%;
    padding-left: 5px;
    display: block;
    box-sizing:border-box;
}

.barra{
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    /* margin-top: 30px; */
}

.sectionMenu{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    align-items: center; 
    box-sizing:border-box;
    margin-block-end: auto;
    background-color: #F0EFEB;      
}

.imgItemMenu{
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border: solid gray 2px; */
    margin: 4px auto 0 auto;    
}

.box{
    display: grid;
    margin: 0 auto auto auto;
    
}

.card{
    align-items: center;
    margin: 15px 15px 15px 15px; 
    box-sizing: border-box;
    width: 120px;
    height: 160px;   
    display: grid;
    background-color: white;
    border-radius: 3px;     
}

.sectionOrder{
    background-color: #616161;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}

h1{
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
}

h2{
    margin: 5px;
    font-size: 18px;
    text-align: start;
    color: black;
}

h3{
    margin: 5px;
    font-size: 15px;
    text-align: center;
}
h1{
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
}

th{
    margin: 5px;
    font-size: 18px;
    text-align: center;
    color: #FCBF49;
}

td{
    margin: 5px;
    font-size: 18px;
    text-align: center;
    color: white;
}
.inputCliente{
    width: 250px;
    height: 30px;
    margin: auto 0 auto auto;    
    color: black;
    font-size: 20px;
    border-radius: 20px;
    background-color: #C4C4C4;
    border: 2px solid transparent;
    text-align: center;
}

button{ 
    width: 180px;
    height: 37px;
    margin: 30px auto 30px auto;
    background-color: #FCBF49;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    border: .5px solid black;  
    text-align: center;
    padding: 2px auto 2px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    
}
.btnAlert{
    background-color: #FB5607;
    color: white;
}

.btnIcon{
    background-color: transparent;  
    border-color: transparent;
    box-shadow: none;
    width: 50px;
    font-size: 15px;
    font-weight: 300;
}

.datosPersonalizados{
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

.datosPersonalizados:hover{
     color:white;
 }

.fecha{
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;   
    margin: 250px auto 0 auto;
}

.tabla{

}
.sectionDatosCliente{
display: block;
}
.sectionBtns{    
    margin-bottom: 0;
    /* background-color: tomato; */
}

.textarea {
    font-family: "Open Sans", sans-serif;
      /* padding-top: 1em; */
      outline: none;
      background: #fdfdf2 !important;
      border-radius: 2em;
      font-size: 13px;
      text-align: center;
      border-color: #00000029;
      width: 200px;
      height: 100px;
      /* margin-top: 2em;
      margin-left: 4em;
      padding-right: 1em;
      padding-left: 35px; */
      text-align: center;
      /* padding-block-end: 11px;
      padding-block-start: 25px; */
      cursor: pointer;
  }
  