.textarea {
  font-family: "Open Sans", sans-serif;
  /* padding-top: 1em; */
  outline: none;
  background: #fdfdf2 !important;
  border-radius: 2em;
  font-size: 13px;
  text-align: center;
  border-color: #00000029;
  width: 200px;
  height: 100px;
  /* margin-top: 2em;
      margin-left: 4em;
      padding-right: 1em;
      padding-left: 35px; */
  text-align: center;
  /* padding-block-end: 11px;
      padding-block-start: 25px; */
  cursor: pointer;
}

.btnAlert {
  background-color: #FB5607;
  color: white;
}

input[type="checkbox"]+label {
  border: red;
  background-color: yellowgreen;

}